body
  :font-family Arial, Sans
  :background-color #aaa
  :margin 0px
  :overflow hidden
  :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)))

.right
  :float right
.left
  :float left

.infobar
  li
    :float left
    :font-size 14px
    :color #eee
    :font-weight bold
    :padding 10px
    :text-shadow 0 1px 2px rgba(0,0,0,0.4)
  :position absolute
  :bottom 0
  :right 0
  :left 0
  :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)))
  :-webkit-box-shadow 0 0 10px rgba(0,0,0,0.3)
  :background-color rgba(0,0,0,0.5)

#shower-and-changer, .mainmenu
  :-webkit-border-radius 5px
  :-webkit-box-shadow 0 0 10px rgba(0,0,0,0.3)
  :background-image -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)),to(rgba(0,0,0,0.3)))
  :border 2px solid rgba(255,255,255, 0.5)
  :background-color rgba(0,0,0,0.5)
  :color #ddd

.menuitem
  :width 150px
  :padding 20px
  :font-size 18px
  :font-weight bold
  :text-align center
  :letter-spacing 1px
  :text-shadow 0 2px 3px rgba(0,0,0,0.8)

.menuitem:hover
  :cursor pointer
  :background-color rgba(0,0,0,0.5)
  
#shower-and-changer
  :display none
  :position fixed
  :top 10px
  :right 10px
  :padding 10px
  h1, h2
    :font-size 18px
    :margin 0
    :padding 0
    :text-align center
    :margin-bottom 6px
  h2
    :margin-top 6px
  li
    :clear both
    :height 16px
  li:hover
    :cursor pointer
  li:focus
    :outline none
  .uks-keys, .uks-description
    :float left
    :font-size 12px
  .uks-description
    :width 150px
  .uks-keys
    :width 70px
    :text-align right
    :font-weight bold
    :margin-right 10px
ul, ol
  :list-style none
  :padding 0
  :margin 0
