@import url(http://fonts.googleapis.com/css?family=Ubuntu:regular,bold,italic);
body {
  font-family: "Ubuntu", Arial, Sans;
  background-color: #cccccc;
  font-size: 14px;
  color: #333333;
  margin: 0px;
  overflow: hidden; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.controls_toggle {
  width: 130px;
  top: 10px;
  right: 10px; }

.controls_toggle, .menu_toggle {
  text-align: center;
  cursor: pointer;
  position: fixed;
  padding: 8px; }
  .controls_toggle:hover, .menu_toggle:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#212121));
    background-image: -moz-linear-gradient(center bottom, #212121 0%, #444444 100%);
    -pie-background: linear-gradient(#444444, #212121);
    background-color: #212121;
    color: #eeeeee; }
  .controls_toggle:hover, .menu_toggle:hover {
    border-top-color: #555555;
    border-bottom-color: black; }

.controls_toggle, .menu_toggle, .steps_wrapper, .time_wrapper, .message {
  border-top: 2px solid white;
  border-bottom: 1px solid #cccccc; }

.controls_toggle, .menu_toggle, .menu_wrapper, #shower-and-changer, .steps_wrapper, .time_wrapper, .message {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#eeeeee));
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, #fdfdfd 100%);
  -pie-background: linear-gradient(#fdfdfd, #eeeeee);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #555555;
  font-size: 14px;
  font-weight: bold; }

.message {
  padding: 10px;
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;
  height: 180px;
  z-index: 20;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .message .content {
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px dashed #cccccc; }

.steps_wrapper {
  position: relative;
  top: 10px;
  font-size: 20px;
  color: #666666;
  width: 140px;
  text-align: center; }

.time_wrapper {
  position: fixed;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
  text-align: center;
  width: 260px;
  padding: 5px; }
  .time_wrapper #time, .time_wrapper #steps {
    height: 30px;
    width: 120px; }
  .time_wrapper #time {
    text-align: right;
    float: left; }
  .time_wrapper #steps {
    text-align: left;
    float: right; }

.menu_toggle {
  top: 10px;
  left: 10px;
  width: 130px; }

.menu_wrapper {
  position: fixed;
  width: 145px;
  top: 50px;
  left: 10px;
  overflow: hidden; }

.box2 ul {
  padding: 8px; }
  .box2 ul li {
    cursor: pointer;
    padding: 3px;
    margin-bottom: 2px;
    color: #555555;
    font-size: 14px;
    font-weight: bold; }
    .box2 ul li:hover {
      padding-left: 10px;
      color: black; }

.wrapper {
  position: absolute;
  top: 50px;
  right: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }

#shower-and-changer {
  overflow: hidden;
  padding: 10px; }
  #shower-and-changer h1, #shower-and-changer h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 6px; }
  #shower-and-changer h2 {
    margin-top: 6px; }
  #shower-and-changer li {
    clear: both;
    height: 16px; }
  #shower-and-changer li:hover {
    cursor: pointer; }
  #shower-and-changer li:focus {
    outline: none; }
  #shower-and-changer .uks-keys, #shower-and-changer .uks-description {
    float: left;
    font-size: 12px; }
  #shower-and-changer .uks-description {
    width: 150px; }
  #shower-and-changer .uks-keys {
    width: 70px;
    text-align: right;
    font-weight: bold;
    margin-right: 10px; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }
